:root {
  margin: 0;
  padding: 0;
  --bannercolor: #5c94ce;
  --tableheader: #354a5f;
  --even-row-color: #ddd;
}

body {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  margin: 0;
  padding: 25px;
  text-align: center;
  background: var(--bannercolor);
  color: white;
  font-size: 60px;
}

p {
  margin: 0;
  padding: 10px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  text-align: center;
  color: var(--bannercolor);
}

button {
  background-color: var(--bannercolor);
  border-radius: 15px;
  color: white;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.flex-container {
  padding: 15px;
  display: flex;
  justify-content: center;
}

table {
  border: 2px solid var(--tableheader);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  padding: 12px 8px;
  background-color: var(--tableheader);
  color: white;
  text-align: left;
}

tr:nth-child(even) {
  background-color: var(--even-row-color);
}

tr:hover {
  background-color: var(--bannercolor);
}

td {
  text-align: left;
  padding: 8px;
}